<!DOCTYPE html>
{% load staticfiles %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
    <h1> Rango says...</h1>
    <div>hey there parther</div>
    <div> {% if  categories %}
        <ul> {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
        </ul>
     {% else %}
        <strong>There are categories present</strong>
    {% endif %}

    </div>
    <a href="/rango/about/">about</a><br>
    <img src="{% static "images/rango.jpg" %}"alt="Picture of Rango">
</body>
</html>